body {
  margin: 0;
  color: #82a5ca;
  text-align: center;
  font-family: Orbitron, sans-serif;
}
.btn {
  font-weight: 800;
  color: #82a5ca;
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: Orbitron, sans-serif;
}

.exp {
  border-bottom: 4px solid white;
}

#main-logo {
  width: 100px;
}

#hero {
  background-image: url('space.webp');
  background-size: cover;
  padding: 10px 0 40px 0;
}

#title {
  text-shadow: 0 0 4px black;
}
